@bleufonce : #2C3E50;
@rouge : #E54D42;
@blanc : #ECF0F1;
@bleu : #3A99D8;

body {
    background-color: @blanc; 
    overflow-x: hidden;
}
.container {
    width: 1200px;
    height: 100%;
    margin: auto;
}

@media screen and (max-width: 600px){
    .container { width: 100%; }
    .col-group { padding: 0 !important; }
    
    header {
        img {
            padding: 0 !important;
        }
        
        h2 {
            text-align: center;
            margin: 0;
            position: relative !important;
            bottom: 0 !important;
        }
    }
}

header {
    .banner {
        height: auto; 
        background-color: @blanc;
    } 

    img {
        height: auto;
        width: 100%;
        padding: 20px 0;
    }

    h2 {
        color: @rouge;
        position: relative;
        bottom: -80px;
        font-size: 30px;
    }

    /* Rudimentary mega menu CSS for demonstration */

    nav {
        width: 100%;
        background-color: @bleufonce;
    }
    /* mega menu list */
    .nav-menu {
        display: block;
        width: 1150px;
        background-color: @bleufonce;
        position: relative;
        list-style: none;
        margin: auto;
        padding: 0;
        z-index: 15;
    }

    /* a top level navigation item in the mega menu */
    .nav-item {
        list-style: none;
        display: inline-block;
        padding: 10px;
        margin: 0;
    }

    input[type=text] {
        width: 130px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 5px 20px 5px 10px;
        margin-right: 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }

    input[type=text]:focus {
        width: 100%;
        border-color: @bleu;
    }

    /* first descendant link within a top level navigation item */
    .nav-item > a {
        position: relative;
        display: inline-block;
        padding: 10px;
        margin: 0 0 -1px 0;
        border: 1px solid transparent;
        text-decoration: none;
        color: #FFF;
    }

    .nav-right {
        position: relative;
        display: inline-block;
        float: right;
        margin-right: 50px;
        margin-top: 5px;
    }

    /* focus/open states of first descendant link within a top level 
    navigation item */
    .nav-item > a:focus,
    .nav-item > a.open {
        border: 1px solid #dedede;
        padding: 10px;
    }

    /* open state of first descendant link within a top level 
    navigation item */
    .nav-item > a.open {
        background-color: @bleu;
        color: #FFF;
        z-index: 1;
        padding: 10px;
    }

    /* sub-navigation panel */
    .sub-nav {
        position: absolute;
        display: none;
        top: 3.1em;
        margin-top: -1px;
        padding: 5px 30px;
        border: 1px solid #dedede;
        background-color: #fff;
    }

    /* sub-navigation panel open state */
    .sub-nav.open {
        display: block;
    }

    /* list of items within sub-navigation panel */
    .sub-nav ul {
        display: inline-block;
        vertical-align: top;
        padding: 0;
    }

    /* list item within sub-navigation panel */
    .sub-nav li {
        display: block;
        list-style-type: none;
        margin: 10px;
        padding: 0;

        a {
            color: @bleu;
            text-decoration: none;
        }

        a:hover {
            font-weight: 700;
        }
    }
}

section {

    .item img {
        display: block;
        width: 100%;
        height: auto;
    }
}


article {
    text-align: center;
    padding-bottom: 10px;

    h2 {
        padding: 20px 15px; 
        color: #FFF;
        background-color: @rouge;
        text-transform: uppercase;
    }

    table {
        width: 100%;
        border-spacing: 0;
        border: 1px solid @bleufonce;

        th, td {
            padding: 5px;
            padding-left: 8px;
            text-align: left;
            color: @bleufonce;
        }
        
        th.header-table-side {
            background-color: @blanc;
            color: @bleufonce;
        }
        
        th.rouge {
            color: @rouge;
        }
        
        .border-bot {
            border-bottom: 2px solid black;
        }

        tr:hover {
            background-color: #DDD;
            transition: 0.4s ease;
        }

        th {
            background-color: @bleufonce;
            color: #FFF;
        }
    }

    .suiteclassement {
        text-align: right;
        margin-top: 10px;
        a {
            color: @bleufonce;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
            transition: 0.4s ease;
        }
    }

    .tournoi {
        border: 1px solid @bleufonce;
        border-radius: 4px;

        .tournoi-header {
            display: inline-block;
            background-color: @bleufonce;
            width: 100%;

            h5 {
                float: left;
                width: 45%;
                color: #FFF;
                text-transform: uppercase;
            }

            h5:nth-child(2) {
                text-align: right;
            }

        }
        p {
            padding: 10px;
        }

    } 
}

footer {
    width: 100%;
    height: 100%;
    background-color: @bleufonce;
    color: #FFF;
    padding: 15px 0;

    h4 {
        padding-bottom: 5px;
        border-bottom: 1px dashed #FFF;
    }

    p {
        font-size: 10px;
        text-align: center;
    }

    ul {
        list-style: none;
        li {
            padding: 5px 0;

            a {
                color: #FFF;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }
}


#form-main{
    width:100%;
    float:left;
    padding-top:0px;
}


.feedback-input {
    color:#3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
    background: #fff;
    box-shadow: 0;
    border: 3px solid @rouge;
    color: @bleufonce;
    outline: none;
    padding: 13px 13px 13px 54px;
}

.focused{
    color:#30aed6;
    border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
    background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#name:focus{
    background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
    background-size: 30px 30px;
    background-position: 8px 5px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#email{
    background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#email:focus{
    background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#comment{
    background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
    background-color:white;
}

label {
    float: left;
    padding-bottom: 10px;
    margin-top: 20px;
    font-weight: 700;
    color: @bleufonce;
}

#button-blue{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    float:left;
    width: 100%;
    border: #fbfbfb solid 4px;
    cursor:pointer;
    background-color: @rouge;
    color:white;
    font-size:24px;
    padding-top:22px;
    padding-bottom:22px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}

#button-blue:hover{
    background-color: rgba(0,0,0,0);
    color: @rouge;
}

.submit:hover {
    color: @rouge;
}

.ease {
    width: 0px;
    height: 74px;
    background-color: #fbfbfb;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
    transition: .3s ease;
}

.submit:hover .ease{
    width:100%;
    background-color:white;
}

@media only screen and (max-width: 580px) {
    #form-div{
        left: 3%;
        margin-right: 3%;
        margin-left: 0;
        padding-left: 3%;
        padding-right: 3%;
    }

    .nav-menu {
        width: 100% !important;
    } 
}

@media only screen and (max-width: 1024px) {

    .nav-menu {
        width: 100% !important;
    } 
}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

header #evitement{
	list-style: none;
    height:20px;
}

header #evitement button{
	position: absolute;
    left: -99999px;
	text-decoration: none;
}

header #evitement button:focus, header #evitement button:hover{
	color:black;
    position: static;
}